@model MileageStats.Web.Models.FillupAddViewModel
@{
    ViewBag.Title = "Add Fill up";
}
<div id="details-page">
    <div id="scrollable">
        <div>
            @Html.Partial("_VehicleList", Model.VehicleList)
        </div>
    </div>
    <div id="fixed">
        <div>
            <div id="info" class="framed article">
                <div>
                    <div id="details-pane" class="tab opened section">
                        @Html.ActionLink(" ", "Details", "Vehicle", new { id = Model.VehicleList.Vehicles.SelectedItem.VehicleId }, new { @class = "trigger" })
                    </div>
                    <div id="fillups-pane" class="tab opened section">

                        <a></a>
                        <div class="content">
                            <div class="header">
                            </div>
                            <div class="aside">
                                @Html.Partial("_FillupList", Model.Fillups)
                            </div>
                            <div class="editor article">
                                @using(Html.BeginForm()) { 
                                     if (Model.FillupEntry != null) 
                                     { 
                                         @Html.Partial("_FillupForm", Model.FillupEntry) 
                                     }
                                 }
                            </div>
                        </div>
                    </div>
                    <div id="reminders-pane" class="tab section">
                        @Html.ActionLink(" ", "List", "Reminder", new { vehicleId = Model.VehicleList.Vehicles.SelectedItem.VehicleId }, new { @class = "trigger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

